.all{
    display: grid;
    grid-template-areas: 
    "hdr help help"
    "left left right"
    "foot foot foot"
    ;
    grid-template-columns: 33% 40% 25%;
    grid-template-rows: 400px 700px 100px;
    background-image: linear-gradient(black, grey);
    
}

.help{
    grid-area: help;

}
.helptitle{
    color: rgb(167, 229, 23);
}
.helptxt{
    color: rgb(132, 190, 32);
}

#Input1{
    width: 300px;
    height: 30px;
    background-color: rgb(104, 203, 233);
    color: rgba(60, 0, 255, 0.87);
    border-radius: 10px;
}
#Input2{
    width: 300px;
    height: 30px;
    background-color: rgb(104, 203, 233);
    color: rgba(60, 0, 255, 0.87);
    border-radius: 10px;

}
.form_title{
    color: red;
    font-size: large;
    margin: 3px;

}

#OK{
    /*width: 100px;
    height: 20px;
    color: blue;
    font-size: small;*/
    margin: 10px;
}

#cancel{
    /*width: 100px;
    height: 20px;
    color: red;
    font-size: small;*/
    margin: 10px;
}

.imagen{
    width: 1000px;
    height: 700px;
    align-items: center;

}

.hdr{
    grid-area: hdr;
    margin: 10px;
}

.IMG{
    grid-area: left;
}


#listaM{
    color: red;
    font-size: large;
    grid-area: right;
    list-style: none;
}
.pagar{
    /*margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;*/
    margin: 10px;
}
#footr{
    grid-area: foot;
    margin: 20px;
    
}

#Buscar{
    
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;

}
#clear{
    
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;

}

/*Style de la segunda pagina*/

.titulo{
    text-align: center;
    color: greenyellow;

}
.subtitulo{
    text-align: center;
    color: green;
}
.all2{
    background-image: linear-gradient(black, grey);
}
.lista2{
    color: rgb(25, 226, 219);
}

#Input4{
    width: 300px;
    height: 30px;
    background-color: rgb(104, 203, 233);
    color: rgba(60, 0, 255, 0.87);
    border-radius: 10px;
    
}

